.contact {
  padding: 5% 2% 10% 2%;
  ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 8%;
    align-items: center;
    justify-content: space-between;
  }
  li {
    list-style: none;
    margin: 0 1vw 0 1vw;
    font-size: 1.4vw;
    margin-left: 1.5vw;
    font-family: "Press Start 2P", cursive;
    i {
      font-size: 2.5vw;
    }
  }
}
